body, html {
  margin:0;
  height: 100%;
  font-family: 'Comfortaa', cursive;
}

header{
	opacity: 0.8;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a08400;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 10px;
  text-decoration: none;
  color: black;
}

li a:hover:not(.active) {
  color: white;
}

.active {
  background-color: #ccbd00;
  font-family: 'Satisfy', cursive;
  font-size: 25px;
  padding: 7px 10px;
  color: white;
}

.full-img-container{
  background-image: url("../media/emotions.jpg");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn{
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 15px;
    border-radius: 50px;
    margin-left: 45%;
    display: inline-block;
}

.btn:hover{
      background-color: black;
      color: #ccbd00;
      cursor: pointer;
}
.margin{
  height: 85%;
}